<div class="container">
    <table class="table">
        <h1>Usuarios</h1>
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Data de Nascimento</th>
            <th scope="col">Usuario</th>
            <th scope="col">Senha</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users">
            <th scope="row">{{user.id}}</th>
            <td>{{user.name}}</td>
            <td>{{user.dateNasc}}</td>
            <td>{{user.user}}</td>
            <td>{{user.password}}</td>
        </tr>
        </tbody>
    </table>
</div>